In [1]:
import pandas as pd

In [2]:
# Carica il tuo dataset CSV
path = 'Plant_1_Generation_Data.csv'
df = pd.read_csv(path)

In [3]:
df['TARGET'] = 0  # initialize the column with 0
df.loc[(df['AC_POWER'] != 0) & (df['DC_POWER'] != 0), 'TARGET'] = 1

In [4]:
df.rename(columns={'DATE_TIME':'event_timestamp'}, inplace=True)

In [5]:
df.dtypes

event_timestamp     object
PLANT_ID             int64
SOURCE_KEY          object
DC_POWER           float64
AC_POWER           float64
DAILY_YIELD        float64
TOTAL_YIELD        float64
TARGET               int64
dtype: object

In [6]:
df.head()

,event_timestamp,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,TARGET
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,0
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0,0
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0,0
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0,0
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0,0

In [7]:
df['event_timestamp'] = pd.to_datetime(df['event_timestamp'], format='%d-%m-%Y %H:%M')
df.dtypes

event_timestamp    datetime64[ns]
PLANT_ID                    int64
SOURCE_KEY                 object
DC_POWER                  float64
AC_POWER                  float64
DAILY_YIELD               float64
TOTAL_YIELD               float64
TARGET                      int64
dtype: object

In [8]:
# Splitting the dataset into 3 sets of features
data_df0 = df.iloc[:, :1]
data_df1 = df.iloc[:, 1:3]  # Columns PLANT_ID and SOURCE_KEY
data_df2 = df.iloc[:, 3:5]  # Columns DC_POWER and AC_POWER
data_df3 = df.iloc[:, 5:7]  # Columns DAILY_YIELD and TOTAL_YIELD

In [9]:
target_df = df[['TARGET']]
data_df3.head()

   DAILY_YIELD  TOTAL_YIELD
0          0.0    6259559.0
1          0.0    6183645.0
2          0.0    6987759.0
3          0.0    7602960.0
4          0.0    7158964.0

In [10]:
# Adding the timestamp column to each DataFrame
data_df1 = pd.concat(objs=[data_df1, data_df0], axis=1)
data_df2 = pd.concat(objs=[data_df2, data_df0], axis=1)
data_df3 = pd.concat(objs=[data_df3, data_df0], axis=1)
target_df = pd.concat(objs=[target_df, data_df0], axis=1)
target_df.head()

   TARGET event_timestamp
0       0      2020-05-15
1       0      2020-05-15
2       0      2020-05-15
3       0      2020-05-15
4       0      2020-05-15

In [11]:
# Creating a list of arbitrary IDs for feature rows
data_id = pd.DataFrame(data=list(range(len(df))), columns=["DATA_ID"])

In [12]:
# Adding the ID column to each DataFrame
data_df1 = pd.concat(objs=[data_df1, data_id], axis=1)
data_df2 = pd.concat(objs=[data_df2, data_id], axis=1)
data_df3 = pd.concat(objs=[data_df3, data_id], axis=1)
target_df = pd.concat(objs=[target_df, data_id], axis=1)
target_df.head()

   TARGET event_timestamp  DATA_ID
0       0      2020-05-15        0
1       0      2020-05-15        1
2       0      2020-05-15        2
3       0      2020-05-15        3
4       0      2020-05-15        4

In [13]:
data_df1.to_parquet(path='solar_power\\feature_repo\data\data_df1.parquet')
data_df2.to_parquet(path='solar_power\\feature_repo\data\data_df2.parquet')
data_df3.to_parquet(path='solar_power\\feature_repo\data\data_df3.parquet')
target_df.to_parquet(path='solar_power\\feature_repo\data\\target_df.parquet')