In [28]:
from feast import FeatureStore
import pandas as pd
from joblib import load

In [29]:
# Getting our FeatureStore
store = FeatureStore(repo_path=".")

In [30]:
feature_service = store.get_feature_service("user_activity")

In [31]:
# Getting some features for inference
features = store.get_online_features(
    features=feature_service,
    entity_rows=[{"USER_ID": 800},  {"USER_ID": 1085},
                 {"USER_ID": 2430}, {"USER_ID": 3456},
                 {"USER_ID": 7608}, {"USER_ID": 8697},
                 {"USER_ID": 801},  {"USER_ID": 1086},
                 {"USER_ID": 2436}, {"USER_ID": 3455},
                 {"USER_ID": 7668}, {"USER_ID": 8627},
                 {"USER_ID": 8000}, {"USER_ID": 2085},
                 {"USER_ID": 2630}, {"USER_ID": 3656},
                 {"USER_ID": 7708}, {"USER_ID": 8197}]
).to_dict()
# get_online_features returns an OnlineResponse object - use to_dict to convert the feature values to a Python dictionary

In [32]:
# Converting the features to a DataFrame
features_df = pd.DataFrame.from_dict(data=features)
features_df.head()

,USER_ID,Age,Gender,Tenure,CreditScore,EstimatedSalary,Balance,NumOfProducts,HasCrCard,IsActiveMember,Geography_Germany,Geography_France,Geography_Spain
0,800,42,0,9,601,103315.74,133636.16,1,0,1,True,False,False
1,1085,24,1,8,796,61349.37,0.00,2,1,0,False,True,False
2,2430,31,1,8,816,28407.40,0.00,2,1,1,False,True,False
3,3456,29,1,8,842,123437.05,0.00,2,1,1,False,True,False
4,7608,41,0,5,838,81313.51,0.00,2,1,0,False,False,True

In [33]:
# Carica il modello salvato
regression = load(r"models/logistic_regression.joblib")

In [34]:
features_df.drop('USER_ID', axis=1)
features_df = features_df[sorted(features_df.columns)]

In [35]:
# Verifica dei valori nulli
null_counts = features_df.isnull().sum()
null_counts

Age                  0
Balance              0
CreditScore          0
EstimatedSalary      0
Gender               0
Geography_France     0
Geography_Germany    0
Geography_Spain      0
HasCrCard            0
IsActiveMember       0
NumOfProducts        0
Tenure               0
USER_ID              0
dtype: int64

In [36]:
desired_order = [
    'Age', 'Balance', 'CreditScore', 'EstimatedSalary', 'Gender',
    'Geography_France', 'Geography_Germany', 'Geography_Spain',
    'HasCrCard', 'IsActiveMember', 'NumOfProducts', 'Tenure'
]

# Reorder the columns of the DataFrame
features_df = features_df[desired_order]

In [37]:
# Fai le predizioni utilizzando il modello caricato
predictions = regression.predict(features_df)

# Supponendo che `predictions` sia l'array delle predizioni
predictions_df = pd.DataFrame(predictions, columns=['Predictions'])

# Stampa il DataFrame in modo leggibile
print(predictions_df)

    Predictions
0             0
1             0
2             0
3             0
4             0
5             0
6             0
7             0
8             0
9             0
10            0
11            0
12            0
13            0
14            0
15            0
16            0
17            0

In [39]:
# Carica il modello salvato
forest = load(r"models/random_forest_model.joblib")

# Fai le predizioni utilizzando il modello caricato
predictions = forest.predict(features_df)

# Supponendo che `predictions` sia l'array delle predizioni
predictions_df = pd.DataFrame(predictions, columns=['Predictions'])

# Stampa il DataFrame in modo leggibile
print(predictions_df)

    Predictions
0             0
1             0
2             0
3             0
4             0
5             0
6             0
7             1
8             0
9             0
10            0
11            1
12            0
13            1
14            1
15            0
16            0
17            0