In [1]:
import pandas as pd
from feast import FeatureStore
from feast.infra.offline_stores.file_source import SavedDatasetFileStorage

In [2]:
# Getting the FS
store = FeatureStore(repo_path=".")

In [3]:
# Reading the target as an entity DataFrame
entity_df = pd.read_parquet(path=r"data/target_df_2.parquet")
training_data = store.get_historical_features(
    entity_df=entity_df,
    features=[
        "df1_2_feature_view:Gender",
        "df1_2_feature_view:Age",
        "df2_2_feature_view:CreditScore",
        "df2_2_feature_view:Tenure",
        "df2_2_feature_view:Balance",
        "df2_2_feature_view:EstimatedSalary",
        "df3_2_feature_view:NumOfProducts",
        "df3_2_feature_view:HasCrCard",
        "df3_2_feature_view:IsActiveMember",
        "df4_2_feature_view:Geography_France",
        "df4_2_feature_view:Geography_Germany",
        "df4_2_feature_view:Geography_Spain"
    ]
)

In [4]:
# Storing the dataset as a local file
dataset = store.create_saved_dataset(
    from_=training_data,
    name="churn_dataset",
    storage=SavedDatasetFileStorage(r"data\churn_dataset.parquet")
)
dataset.to_df()

C:\Users\claud\AppData\Local\Programs\Python\Python311\Lib\site-packages\feast\feature_store.py:1125: RuntimeWarning: Saving dataset is an experimental feature. This API is unstable and it could and most probably will be changed in the future. We do not guarantee that future changes will maintain backward compatibility.
  warnings.warn(

,Balance,CreditScore,Geography_Germany,event_timestamp,EstimatedSalary,NumOfProducts,Gender,HasCrCard,USER_ID,Tenure,Geography_Spain,IsActiveMember,Age,Exited,Geography_France
0,0.00,712,False,2023-01-01 00:00:00+00:00,183235.33,2,Female,1,5313,8,True,0,48,0,False
1,0.00,812,False,2023-01-01 00:00:00+00:00,66926.83,3,Female,1,1677,8,True,0,44,1,False
2,0.00,802,False,2023-01-01 00:00:00+00:00,57764.65,2,Male,0,3238,7,True,1,38,0,False
3,0.00,590,False,2023-01-01 00:00:00+00:00,104730.52,2,Male,1,7664,9,False,1,39,0,True
4,158468.76,666,True,2023-01-01 00:00:00+00:00,93266.01,1,Female,0,7387,2,False,1,37,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,105525.65,518,False,2023-12-31 00:00:00+00:00,73418.29,2,Female,1,880,9,False,1,45,0,True
9996,0.00,572,False,2023-12-31 00:00:00+00:00,555.28,2,Female,1,8220,2,False,1,39,0,True
9997,0.00,720,False,2023-12-31 00:00:00+00:00,142956.48,2,Male,1,5533,9,False,1,33,0,True
9998,104077.19,850,False,2023-12-31 00:00:00+00:00,68594.00,2,Male,0,1484,1,False,1,36,0,True
9999,158351.02,523,False,2023-12-31 00:00:00+00:00,155304.53,2,Male,1,9459,8,False,0,36,0,True