In [1]:
from datetime import datetime, timedelta
from feast import FeatureStore
import pandas as pd
from joblib import load

In [2]:
# Getting our FeatureStore
store = FeatureStore(repo_path=".")

In [3]:
# Defining our features names
features=[
    "df1_2_feature_view:Gender",
    "df1_2_feature_view:Age",
    "df2_2_feature_view:CreditScore",
    "df2_2_feature_view:Tenure",
    "df2_2_feature_view:Balance",
    "df2_2_feature_view:EstimatedSalary",
    "df3_2_feature_view:NumOfProducts",
    "df3_2_feature_view:HasCrCard",
    "df3_2_feature_view:IsActiveMember",
    "df4_2_feature_view:Geography_France",
    "df4_2_feature_view:Geography_Germany",
    "df4_2_feature_view:Geography_Spain"
    ]

# Getting the latest features - we request the features data for two rows, 1085 (daily hours) and 1 (night hours)
features = store.get_online_features(
    features=features,    
    entity_rows=[{"USER_ID": 1}, {"USER_ID": 1085}]
).to_dict()
# get_online_features returns an OnlineResponse object - use to_dict to convert the feature values to a Python dictionary

In [4]:
# Converting the features to a DataFrame
features_df = pd.DataFrame.from_dict(data=features)

features_df.head()

,USER_ID,Age,Gender,Balance,Tenure,CreditScore,EstimatedSalary,IsActiveMember,HasCrCard,NumOfProducts,Geography_Spain,Geography_Germany,Geography_France
0,1,42,0,0.0,2,619,101348.88,1,1,1,False,False,True
1,1085,24,1,0.0,8,796,61349.37,0,1,2,False,False,True

In [5]:
# Load logistic regressor and do inference with it
reg = load("model_2.joblib")
predictions = reg.predict(
    features_df[sorted(features_df.drop("USER_ID", axis=1))])
predictions

array([0, 0], dtype=int64)